<% layout("layouts/mapBoilerplate") %>

    <!-- ADD A TRENDING ?? -->

    <main>

        <div class="vh-100">
            <div id="show-page-wrapper">
                <div class="top-page-padding"></div>
                <div id="cluster-map"></div>
            </div>
            <div class="container mt-4 h-25">
                <%- include("../partials/flash") %>
                    <div class="filter-list d-flex flex-row justify-content-between mb-2">
                        <h3 class="new-btn-glow"><a href="/posts/new" class="new-post-btn"><span
                                    class="new-post-text">Create Post</span></a></h3>
                        <div class="filter-wrapper d-flex flex-row justify-content-between w-75 text-light">
                            <h4>Filter</h4>
                            <div class="filter">
                                <h4 class="fw-100">Thing 1</h4>
                            </div>
                            <div class="filter">
                                <h4 class="fw-100">Thing 2</h4>
                            </div>
                            <div class="filter">
                                <h4 class="fw-100">Thing 3</h4>
                            </div>
                            <div class="filter">
                                <h4 class="fw-100">Thing 4</h4>
                            </div>
                        </div>
                    </div>
                    <div class="all-posts-btn-wrapper d-flex flex-column align-items-center">
                        <a href="#all-posts">
                            <h1 class="all-posts-btn">ALL POSTS</h1>
                        </a>
                        <a href="#all-posts"><img class="all-posts-arrow" src="/images/arrow-01.svg" alt=""></a>
                    </div>
            </div>
        </div>

        <div class="container mt-5">
            <div class="infinite-scroll-container" id="all-posts">
            </div>
            <div>
                <ul class="pagination" id="pagination">
                </ul>
            </div>
        </div>

    </main>

    <script>
        posts = { features: <%- JSON.stringify(posts) %>}
    </script>
    <script src="/javascript/indexPageMap.js"></script>
    <script src="/javascript/pagination.js"></script>